body {
    background-color: #36454f;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

#playingField {
    width: 75%;
    height: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#currentRound {
    width: 75%;
    height: 150px;
    text-align: center;
    color: #9C7A4B;
}

#scoring {
    width: 75%;
    height: 150px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: #9C7A4B;
}

#rock,
#paper,
#scissors {
    font-size: 18px;
    width: 150px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    transition-duration: 0.5s;
    border-radius: 12px;
    background-color: #4F4536;
}

.button:hover { 
    background-color: #95BFDB;
    color: white;
}

footer{
    font-size: 25px;
    bottom: 0;
    justify-content: center;
    padding-top: 55px;
    padding-bottom: 55px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

#gh-logo{
    width: 35px;
    height: 35px;
    margin-bottom: -9px;
    margin-right: 10px;
}